<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Book List</h1>
    <ul class="book-list">
        <% books.forEach(book => { %>
            <li><span class="book-title"><%= book.title %></span> by <span class="book-author"><%= book.author %></span></li>
        <% }); %>
    </ul>
    <a href="/">Go Back</a>
</body>
</html>
